<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    {% if user.is_authenticated %}
        <p>Welcome {{ name }}</p>
        <a href="{% url 'api:logout' %}">Logout</a>
        <a href="{% url 'userTasks' %}">Tasks</a>
    {% else %}
        <P>You need to login</P>
        <a href={{ login_url }}>Login with google</a>
    {% endif %}
</body>
</html>