<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <h1>Todo List</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Add Task</button>
    </form>

    <ul>
        {% for obj in tasks %}
            <li>{{ obj.title }}</li>
            <p> - {{ obj.description }}</p>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Back</a>
</body>
</html>